### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IDE ###
.idea
*.iws
*.iml
*.ipr
/out/
.classpath
.factorypath
.project
.settings
.vscode

### Test artifacts ###
/screenshots/
/allure-results/
/logs/

### Downloaded apps ###
src/test/resources/apps/ApiDemos-debug.apk
