<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test name="Samsung">
        <parameter name="platformVersion" value="7.0"/>
        <parameter name="deviceName" value="5200d27ecasdasd"/>
        <parameter name="port" value="4740"/>
        <parameter name="automationName" value="UiAutomator2"/>
        <classes>
            <class name="testcases.AndroidTestCases"/>
        </classes>
    </test>
    <test name="LG">
        <parameter name="platformVersion" value="4.4.2"/>
        <parameter name="deviceName" value="Q4U8YTPVUasdasd"/>
        <parameter name="port" value="4739"/>
        <parameter name="automationName" value="uiAutomator1"/>
        <classes>
            <class name="testcases.AndroidTestCases"/>
        </classes>
    </test>
</suite>